@import "~app/styles/abstracts/variables";
@import "~app/styles/abstracts/mixins";

.add-task {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__box {
    padding: 6rem;
    text-align: center;
  }

  &__error-message {
    font-size: 1.5rem;
    background-color: $color-primary;
    color: $color-white;
    padding: 2rem;
    border-radius: 1rem;
  }
}

