//Colors:
$color-primary: #FF4081;
$color-primary-light: #f3598d;
$color-primary-dark: rgb(185, 46, 93);

$color-secondary: #3F51B5;
$color-secondary-light: #5e72e7;
$color-secondary-dark: #2a377c;

$color-tertiary: #34495e;
$color-tertiary-light: #506e8d;
$color-tertiary-dark: #34495e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;

//Grid:

//Font:
$default-font-size: 1.5rem;
