<section class="login">
  <div class="login__box">
    <h1 class="heading-primary">Login</h1>
    <div class="login__error-message pointer" [hidden]="!error" (click)="error = null">
      {{ error }}
    </div>

    <form class="form__element" (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="form__group">
        <label for="email" class="form__label"> </label>
        <input
          id="email"
          type="email"
          class="form__input"
          placeholder="Email"
          formControlName="email"
        />
        <span class="form__error"
          ><app-control-messages [control]="f['email']"></app-control-messages
        ></span>
      </div>
      <div class="form__group">
        <label for="password" class="form__label"> </label>
        <input
          id="password"
          type="password"
          class="form__input"
          placeholder="Password"
          formControlName="password"
        />
        <span class="form__error"
          ><app-control-messages
            [control]="f['password']"
          ></app-control-messages
        ></span>
      </div>
      <div class="form__actions">
        <button
          type="submit"
          class="btn btn--secondary"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          <span [hidden]="isLoading">Submit</span>
          <span [hidden]="!isLoading">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >hourglass_full</mat-icon
            >
          </span>
        </button>
      </div>
      <a [routerLink]="['/auth/register']" class="btn-inline mt-medium">
        Don't have an account? Sign up here!
      </a>
    </form>
  </div>
</section>
