@import "~app/styles/abstracts/variables";
@import "~app/styles/abstracts/mixins";

.tasks {
  padding: 2rem 12rem;

  @include responsive(phone) {
    padding: 2rem;
  }


  &__lists-group {
    display: flex;

    @include responsive(tab-port) {
      flex-direction: column;
    }

  }

  &__container {
    flex: 1 1 50%;
    margin: 1rem;

  }

  &__list {
    border: solid 1px $color-borders;
    min-height: 6rem;
    border-radius: .4rem;
    overflow: hidden;
    display: block;
  }

  &__box {
    padding: 2rem;
    border-bottom: solid 1px $color-borders;
    color: $color-secondary;
    cursor: move;
    transition: all .2s;

    &:hover {
      //box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    }
  }

  &__empty {
    display: block;
    padding: 3rem;
    font-size: 2rem;
    color: $color-borders;
    text-align: center;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
