<section class="tasks">
  <p></p>
  <div cdkDropListGroup class="tasks__lists-group">
    <div class="tasks__container">
      <h1 class="heading-primary">Pending</h1>
      <div
        cdkDropList
        [cdkDropListData]="pending"
        class="tasks__list"
        (cdkDropListDropped)="drop($event, 'pending')">

        <ng-container *ngIf="pending.length">
          <div class="tasks__box" *ngFor="let task of pending" cdkDrag [cdkDragData]="task">
            {{task.description}}
          </div>
        </ng-container>
        <ng-container *ngIf="!pending.length">
          <span class="tasks__empty">There are not pending tasks</span>
        </ng-container>
      </div>
    </div>

    <div class="tasks__container">
      <h1 class="heading-primary">Done</h1>
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="tasks__list"
        (cdkDropListDropped)="drop($event, 'done')">
        <div class="tasks__box" *ngFor="let task of done" cdkDrag [cdkDragData]="task">
          {{task.description}}
        </div>
      </div>
    </div>
  </div>
</section>
